{% extends "base.html" %}

{% load staticfiles %}


{% block title %}pyBursa | Page Not Found{% endblock title%}

{% block content %}

  {% if messages %}<div class="messages">
    {% for message in messages %}
      {{ message }}
    {% endfor %}
  </div>{% endif %}

<div id="header"> 
  <div class="header_content_mainline">
    <h1>pyBursa</h1>
    <h2>Sorry, page is not found</h2>
  <div class="img-main">
    <img src="{% static 'images/pic1.jpg' %}" alt="demotivator" />
  </div>
</div>
{% endblock content %}