{% extends "base.html" %}

{% block title %}pyBursa | Contacts{% endblock %}

{% block nav_class_contact %}active{% endblock %}

{% block content %} 
{% load staticfiles %}
<h1 id="header-contacts">Contact pyBursa organizators for more information</h1>
<div>
<div class="col-md-4">
  <div class="contact-person" id="director">
    <h1> <span class="position-organization">Director</span></h1>
    <p class="contact-name"><span class="contact-name">Name:</span>Дария Михалевич</p>
    <p><span class="contact-skype">Skype:</span>darka.darka.darka.darka.</p>
    <p><span class="contact-email">Email:</span>daria.mykhalevych@gmail.com</p>
    <p><span class="contact-phone">Phone:</span>+38 096 469 15 57</p>
  </div>
</div>

<div class="col-md-4">
  <div class="contact-person" id="manager">
    <h1><span class="position-organization">Manager</span></h1>
    <p class="contact-name"><span class="contact-name">Name:</span>Татьяна Орехова</p>
    <p><span class="contact-skype">Skype:</span>Tatyana_Oriekhova</p>
    <p><span class="contact-email">Email:</span>to096540848@gmail.com</p>
    <p><span class="contact-phone">Phone:</span>+38 099 186 64 75 </p>
  </div>
</div>

<div class="col-md-4">
  <div class="contact-person" id="founder">
    <h1><span class="position-organization">Founder</span></h1>
    <p class="contact-name"><span class="contact-name">Name:</span>Павел Обод</p>
    <p><span class="contact-skype">Skype:</span>azaless</p>
    <p><span class="contact-email">Email:</span>itbursa100@gmail.com</p>
    <p><span class="contact-phone">Phone:</span>000-111-11-11</p>
  </div>
</div>
</div>
<div class="img-main">
  <img src="{% static 'images/pic1.jpg' %}" alt="demotivator" />
</div>
{% endblock content %}