{% extends "base.html" %}

{% load staticfiles %}

{% block nav_class_main %}active{% endblock nav_class_main %}


{% block title %}pyBursa | Main{% endblock title%}

{% block content %}

  {% if messages %}<div class="messages">
    {% for message in messages %}
      {{ message }}
    {% endfor %}
  </div>{% endif %}

<div id="header"> 
  <div class="header_content_mainline">
    <h1>pyBursa</h1>
    <h2>Description</h2>
    <div id="header_content_tagline">
      <p>Язык программирования Python 3 — это мощный инструмент для создания программ самого разнообразного назначения, доступный даже для новичков. С его помощью можно решать задачи различных типов. </p>
    </div>
  </div>   
  <div class="img-main">
    <img src="{% static 'images/pic1.jpg' %}" alt="demotivator" />
  </div>
</div>
<div class="list-of-courses">
  <h3> Choose your future right --NOW--!</h3>
  <p><a href="{% url 'courses:add' %}"><button type="button" class="btn btn-info" onclick="/"><span class="glyphicon glyphicon-plus"></span>Добавить новый курс</button></a></p>
  <table>
    <tr>
      <th class="head-name">Курс</th>
      <th class="head-name">Описание</th>
      <th class="head-name">Изменить</th>
      <th class="head-name">Удалить</th>
    </tr>
    {% for course in courses %}
    <tr>
      <td><a href="{% url 'courses:detail' course.id %}">{{ course.name|upper }}</a></td>
      <td>{{ course.short_description|title }}</td>
      <td><a href="{% url 'courses:edit' course.id %}"><button type="button" class="btn btn-info" onclick="/"><span class="glyphicon glyphicon-pencil"></span>Изменить</button></a></td></td>
      <td><a href="{% url 'courses:remove' course.id %}"><button type="button" class="btn btn-info" onclick="/"><span class="glyphicon glyphicon-remove"></span>Удалить</button></a></td></td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock content %}