{% extends "base.html" %}


{% block nav_class_main %}active{% endblock %}


{% block title %}pyBursa | Main{% endblock %}

{% block content %}
{% load staticfiles %}
<div id="header"> 
  <div class="header_content_mainline">
    <h1>pyBursa</h1>
    <h2>Description</h2>
    <div id="header_content_tagline">
      <p>Язык программирования Python 3 — это мощный инструмент для создания программ самого разнообразного назначения, доступный даже для новичков. С его помощью можно решать задачи различных типов. </p>
    </div>
  </div>   
  <div class="img-main">
    <img src="{% static 'images/pic1.jpg' %}" alt="demotivator" />
  </div>
</div>
<div class="list-of-courses">
  <h3> Choose your future right --NOW--!</h3>
  <table>
    <tr>
      <th class="head-name">Курс</th>
      <th class="head-name">Описание</th>
    </tr>
    {% for course in courses %}
    <tr>
      <td><a href="{% url 'courses:detail' course.id %}">{{ course.name|upper }}</a></td>
      <td>{{ course.short_description|title }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock content %}