{% extends "base.html" %}

{% block title %}pyBursa | Student{% endblock %}

{% block nav_class_students %}active{% endblock %}

{% block content %} 
{% load staticfiles %}
<h1>Ivanov Ivan</h1>
<div class="header_content_mainline">
  <h6>Язык программирования Python набирает все большей популярности. И каждая группа pyBursa все увеличивается. Ниже приведет список топ-5 участников pyBursa на сегодня. С полным списком можете ознакомиться на сайте <a href="http://pybursa.com">pyBursa</a></h6>
</div>
<div class"student-avatar">
  <img src="../static/images/ivanov_avatar.jpg" />
</div>
<div class="btn-group btn-group-st" role="group" aria-label="Button1"> <h4>See in social network</h4> </div>
<div class="student-table">
  <h5>Student's information</h5>
  <table id="full">
    <tr>
      <td>Surname</td>
      <td>Ivanov</td>
    </tr>
    <tr>
      <td>Name</td>
      <td>Ivan</td>
    </tr>
    <tr>
      <td>Patronymic</td>
      <td>Ivanovich</td>
    </tr>
    <tr>
      <td>Rating</td>
      <td>3</td>
    </tr>
    <tr>
      <td>Average Grade</td>
      <td>100%</td>
    </tr>
    <tr>
      <td>Package</td>
      <td>Standard</td>
    </tr>
    <tr>
      <td>Birth Date</td>
      <td>31/12/1999</td>
    </tr>
    <tr>
      <td>Address</td>
      <td>Kharkiv, Ukraine</td>
    </tr>
    <tr>
      <td>Post</td>
      <td>61046</td>
    </tr>
    <tr>
      <td>Skype</td>
      <td>ivan_ivanov</td>
    </tr>
    <tr>
      <td>E-mail</td>
      <td>ivan.ivanov@pybursa.com</td>
    </tr>
  </table>
  <h6>Information about tasks and grades</h6>
  <table>
    <tr class="head-stud-range-table">
      <th>Course</th>
      <th>Week</th>
      <th id="control_type">Control Type</th>
      <th>Grade</th>
    </tr>
    <tr>
      <td rowspan="7">Python PY103</td>
    </tr>
    <tr>
      <td rowspan="3">Week1</td>
      <td>Tests</td>
      <td>100%</td>
    </tr>
    <tr>
      <td>Problem Task 1</td>
      <td>100%</td>
    </tr>
    <tr>
      <td>Problem Task 2</td>
      <td>100%</td>
    </tr>
    <tr>
      <td rowspan="3">Week2</td>
      <td>Tests</td>
      <td>100%</td>
    </tr>
    <tr>
      <td>Problem Task 3</td>
      <td>100%</td>
    </tr>
    <tr>
      <td>Problem Task 4</td>
      <td>100%</td>
    </tr>
  </table>
</div>
{% endblock content %}