{% extends "base.html" %}
{% load staticfiles %}

{% block title %}pyBursa | Students{% endblock %}

{% block nav_class_students %}active{% endblock %}

{% block content %}
<h1>pyBursa</h1>
<div class="header_content_mainline">
  <h6>Язык программирования Python набирает все большей популярности. И c rаждым запуском количество студентов все увеличивается. Ниже приведет список топ-5 участников курса на сегодня. С полным списком можете ознакомиться на сайте <a href="http://pybursa.com">питонбурсы</a></h6>
</div>
<div class="student-table">
  <table>
    <tr class="head-stud-table">
      <th>No</th>
      <th>Surname</th>
      <th>Name</th>
      <th id="address">Address</th>
      <th id="skype">Skype</th>
    </tr>
    <tr>  
      <td><a href="{% url 'student_detail' %}">1</a></td>
      <td><a href="{% url 'student_detail' %}">Ivanov</a></td>
      <td><a href="{% url 'student_detail' %}">Ivan</a></td>
      <td><a href="{% url 'student_detail' %}">Kharkiv, Ukraine</a></td>
      <td><a href="{% url 'student_detail' %}">ivan_ivanov</a></td>
    </tr>
    <tr>
      <td>2</td>
      <td>Petrov</td>
      <td>Petro</td>
      <td>Kharkiv, Ukraine</td>
      <td>petro_petrov</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Stepanov</td>
      <td>Stepan</td>
      <td>Kharkiv, Ukraine</td>
      <td>stepan_stepanov</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Kuzmin</td>
      <td>Kuzya</td>
      <td>Lviv, Ukraine</td>
      <td>kuzya_kuzmin</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Semenov</td>
      <td>Semen</td>
      <td>Kharkiv, Ukraine</td>
      <td>semen_semenov</td>
    </tr>
  </table>
</div>
{% endblock content %}