<!DOCTYPE html>
<html>
<head>
<title>pyBursa | Students</title>
<meta charset="utf-8">
{% load staticfiles %}
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>

<body>

  <!-- Nav bar -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
    <a class="navbar-brand" href="http://pybursa.com/">
    <img class="logo-minions" alt="Logo Pretty Minions" src="{% static 'images/logo.jpg' %}"></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Main</a></li>
        <li><a href="{% url 'contact' %}">Contacts</a></li>
        <li class="active"><a href="{% url 'student_list' %}">Students</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- end Nav bar-->

<div id="content_container">
  <h1>pyBursa</h1>
  <div class="header_content_mainline">
    <h6>Язык программирования Python набирает все большей популярности. И c rаждым запуском количество студентов все увеличивается. Ниже приведет список топ-5 участников курса на сегодня. С полным списком можете ознакомиться на сайте <a href="http://pybursa.com">питонбурсы</a></h6>
  </div>
  <div class="student-table">
    <table>
      <tr class="head-stud-table">
        <th>No</th>
        <th>Surname</th>
        <th>Name</th>
        <th id="address">Address</th>
        <th id="skype">Skype</th>
      </tr>
      <tr>  
        <td><a href="{% url 'student_detail' %}">1</a></td>
        <td><a href="{% url 'student_detail' %}">Ivanov</a></td>
        <td><a href="{% url 'student_detail' %}">Ivan</a></td>
        <td><a href="{% url 'student_detail' %}">Kharkiv, Ukraine</a></td>
        <td><a href="{% url 'student_detail' %}">ivan_ivanov</a></td>
      </tr>
      <tr>
        <td>2</td>
        <td>Petrov</td>
        <td>Petro</td>
        <td>Kharkiv, Ukraine</td>
        <td>petro_petrov</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Stepanov</td>
        <td>Stepan</td>
        <td>Kharkiv, Ukraine</td>
        <td>stepan_stepanov</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Kuzmin</td>
        <td>Kuzya</td>
        <td>Lviv, Ukraine</td>
        <td>kuzya_kuzmin</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Semenov</td>
        <td>Semen</td>
        <td>Kharkiv, Ukraine</td>
        <td>semen_semenov</td>
      </tr>
    </table>
  </div>
</div>
<div class="clearfix"> </div>
<div class="container">
  <h2>Узнать подробнее об ItB_ursa можно здесь...</h2>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Адрес</a></li>
    <li><a data-toggle="tab" href="#menu1">Телефон</a></li>
    <li><a data-toggle="tab" href="#menu2">Social Network</a></li>
  </ul>
</div>

<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
    <p class="text-primary">проспект Ленина, 56, Харьков, Харьковская область</p>
  </div>
  <div id="menu1" class="tab-pane fade">
    <p class="text-muted">096 070 5347</p>
  </div>
  <div id="menu2" class="tab-pane fade">
    <p class="text-success"><a href="https://www.facebook.com/pages/It-Bursa/1539330322946469"> FaCebook Group </a></p>
    <p class="text-info"><a href="https://vk.com/public82364378"> VK Group </a></p><br />
  </div>
</div>
<div class="clearfix"> </div>
</body>
</html>
