{% extends "base.html" %}

{% load staticfiles %}

{% block title %}pyBursa | Coach{% endblock title %}


{% block content %} 

<div class="student-table">
  <h1> {{ coach.full_name }}</h1>
  <table id="full-s">
    <tr>
      <td> дата рождения </td>
      <td> {{ coach.date_of_birth|date:'d F, Y' }} </td>
    </tr>
    <tr>
      <td> адрес </td>
      <td> {{ coach.address }} </td>
    </tr>
    <tr>
      <td> email </td>
      <td> {{ coach.user.email }} </td>
    </tr>
    <tr>
      <td> skype </td>
      <td> {{ coach.skype }} </td>
    </tr>
    <tr>
      <td> телефон </td>
      <td> {{ coach.phone }} </td>
    </tr>
    <tr>
      <td> курсы учитель</td>
      <td>  
        {% for course in courses_coach %}
        <p><a href="{% url 'courses:detail' course.id %}">{{ course }}</a> студенты курса <a href="{% url 'students:list_view' %}?course_id={{course.id}}"><span class=" glyphicon glyphicon-home"></span></a></p>
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td> курсы ассистент</td>
      <td>  
        {% for course in courses_assistant %}
        <p><a href="{% url 'courses:detail' course.id %}"> {{ course }}</a> студенты курса <a href="{% url 'students:list_view' %}?course_id={{course.id}}"><span class=" glyphicon glyphicon-home"></span></a></p>
        {% endfor %}
      </td>
    </tr>
  </table>
</div>

{% include 'include/coach_img_include.html' %}
{% endblock content %}